/* REGRAS CSS */
/* SELETOR TAG */
body {
   background-image: url(../imagens/tarde.jpg);
   background-size: cover;
   background-attachment: fixed;
}
/* SELETOR IDENTIFICADO */
#container {
    background-color: rgba(255, 255, 255, 0.438);
    width: 70%;
    margin: auto;
    /* Espaçamento/Enchimento interno */
    padding: 15px;
    /* MINI EXERCICIO
    1) Coloque Borda arredondada
    2) Coloque uma sombra na div */
    border-radius: 5%;
    box-shadow: rgb(2, 2, 2) 5px 5px;
}
/* Seletor tag
Finalidade desta regra: tornar as imagens flexiveis */
img {max-width: 100%;}