*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    
}

a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;

}

a:hover{
    color: #ffffff;
    
}

#header{
    /*Display flex, faz com que o menu fique ao lado da logo.  */
    display: flex;
    box-sizing: border-box;
    height: 100px;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: #32fc00;
}

#menu{
    display: flex;
    list-style: none;
    /* espaçamento nos itens simples com gap */
    gap: .5rem;
}

#menu a{
    display: block;
    padding: .5rem;
}

#btn-mobile{
    display: none;
}

.carousel-control-next-icon{
    width: 6rem;
    height: 4rem;
    
}
.carousel-control-prev-icon{
    width: 6rem;
    height: 4rem;
}
.carousel-caption{
    bottom: 21rem;
}
.carousel-inner{
    height: 550px;
}
.star{
    width: 20px;
}
article h1{
    display: flex;
    justify-content: center;

    margin: 5rem 0 5rem 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;

}

.cards{
    display: grid;
   

    max-width: 980px;
    margin: 0 auto;
    gap: 40px;
}

.card{
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 35px px;

    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.822);
}
.card .user{
    width: 100px;
    height: 100px;
    border-radius: 50%;

    margin-bottom: 15px;
}
.card h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}
.container{
    background: rgb(31, 253, 50);
    height: 1100px;
    border-radius: 10px;
}
article p {
    margin-top: 20px;
    text-align: center;

    font-size: 18px;

}
.stars{
    text-align: center;
}




.img{
    text-align: center;
}

button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../imagens/esquerda.png);
    top: 35%;
    left: 6%;
}



button.slick-next{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../imagens/direita.png);
    top: 35%;
    right: 6%;
}


h2{
    text-align: center;

    
   
    
}


body{
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-attachment: fixed;
}

main {flex: 1; }


.imagem-avaliacao{
    margin: 0 130px;
}
.sobre{
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
}

footer{
    background-color: rgb(31, 253, 50);;
    padding: 50px;
    
    
}

.retorno{
    text-decoration: none;
    background-color: #bdbdbd;
    color: black;
}


.box{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffffff;
    padding: 15px;
    border-radius: 15px;
    width: 350px;
    box-shadow: black;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

fieldset{
    border: 2px solid #32fc00;
    border-radius: 8px;
}
legend{
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 2px solid #32fc00;
    outline: none;
    color: black;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;

}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: rgb(0, 0, 0);

}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
select{
    border: 2px solid #32fc00;
}
#submit{
    background-color: #26E600;
    width: 100%;
    border: none;
    color: white;
    padding: 15px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;

}



textarea{
    border: 2px solid #32fc00;
    outline: none;

}
.cor{
    background:linear-gradient(100deg,#26E600,#2ffd4bb4 );
}


@media only screen and (max-width: 1023px) {
    img {
      width: 100%;
    }

    .logo{
        width: 480px;
        height: 80px;
    }
   
    #menu{
    
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: white;
        height: 0px;
        transition: .6s;
        /* z-index para ao maximo para ficar em cima de toos os elementos da tela  */
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu{
        /* Calculo para pegar 100% da tela -70px do topo da tela */
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
        

    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgb(126, 124, 124);
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer{
        width: 20px;
        border-top: 2px solid ;
    }

    /* Animação menu para X de fechar */
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer{
        border-top-color: transparent ;
    }
    #nav.active #hamburguer::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    .carousel-inner{
        width: 100%;
        height: 100%;
        
    }
    .container{
        height: 1100px;
    }
    
}



.centralizar{
    top: 50%;
}

@media only screen and (max-width: 767px) {
    .cards{
        gap: 10px ;
    }
    .container{
        height: 1115px;
    }
}

@media only screen and (max-width: 472px) {
    .cards{
        gap: 15px ;
    }
    .container{
        height: 1200px;
    }
}

@media only screen and (max-width: 395px) {
    .cards{
        gap: 15px ;
    }
    .container{
        height: 1285px;
    }
}

